h1 {
    text-align: center;
}

.container{
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    column-gap: 20px;
    flex-direction: row;
}

.main{
    display: flex;
    flex-direction: column;
}
